# dependencies
node_modules/

# build output
dist/
build/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# tests
coverage/
.nyc_output/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# runtime
pids/
*.pid
*.seed
*.pid.lock

# temp
.temp/
.tmp/

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# misc
.DS_Store
